* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  letter-spacing: -0.5px;
}

button {
  font-size: 12px;
  line-height: 18px;
  color: #666;
  background-color: transparent;
  border: none; /*버튼 눌리는 효과 삭제*/
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hd {
  height: 132px;
  width: auto;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.hd-top {
  height: 34px;
  width: 1140px;
  padding: 30px 0 28px 0;
  margin: 0 auto; /*위아래 여백이 0이고, 양옆 여백이 자동으로 균등하게 나뉨*/
}

.hd-top a.logo {
  float: left;
}

.hd-top .logo img {
  height: 30px;
  width: 190px;
}

.hd-top .search_wrap {
  height: 32px;
  width: 235px;
  border-bottom: 2px solid #ffb2b8;
  position: relative;
  right: -11.75px;
  left: 11.75px;
  float: left;
}

.search_wrap input.search_box {
  font-size: 13px;
  height: 30px;
  width: 235px;
  border: none;
  outline: none;
}

.search_wrap .btn-search {
  background-image: url("images/search__btn.png");
  background-size: 19px;
  height: 19px;
  width: 19px;
  position: absolute;
  top: 1px;
  right: 1px;
}

.hd-top .hd-utill_wrap {
  height: 18px;
  margin: 16px 0 0 0;
  right: 0px;
  float: right;
}

.hd-utill_wrap li {
  float: left;
  list-style-type: none;
  margin: 0 24px 0 0;
}

.hd-utill_wrap li.user-cart {
  margin: 0 0 0 0;
}

.hd-utill_wrap a {
  font-size: 12px;
  color: #2e2f31;
}

.hd-utill_wrap .user-wishlist i {
  background-image: url("images/icon_whishlist.png");
  background-size: 14px;
  height: 12px;
  width: 14px;
  margin: 0 5px 0 0;
  display: inline-block;
}

.hd-utill_wrap .user-cart i {
  background-image: url("images/icon_cart.png");
  background-size: 14px;
  height: 14px;
  width: 14px;
  margin: 0 5px 0 0;
  display: inline-block;
}

/*  */
.hd .hd-gnb_wrap {
  height: 40px;
  width: 1140px;
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
}

.hd-gnb_wrap .hard-category_list {
  height: 19.2px;
  width: auto;
  list-style-type: none;
  list-style-position: outside;
}

/*여기서부터*/
.hard-category_list li.active {
  height: 37.2px;
  width: auto;
  float: left;
  list-style-type: none;
  margin: 0 0 0 34px;
}

.hard-category_list li#JEWELRY {
  margin: 0;
}
/*여기까지 수정해야함*/

.hard-category_list a.detail-category_title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.1px;
  color: black;
}

a.detail-category_title:hover {
  color: #ffb2b8;
}

.hd-gnb_wrap .large-category_list {
  height: 18.4px;
  width: 353.5px;
  position: absolute;
  top: 0px;
  right: 0px;
  float: right;
  list-style-type: none;
}

.large-category_list a {
  font-size: 15px;
  color: #2e2f31;
}

.large-category_list li {
  float: left;
  list-style-type: none;
  margin: 0 0 0 34px;
}

.large-category_list .iu_link {
  margin: 0;
}

/* 여기부터 헤더아래 */
#container .visual {
  position: relative;
}

.visual img {
  width: auto; /*높이만 고정하고 너비는 자동*/
  height: 550px;
  display: block; /*아래줄까지 해서 이미지를 가운데에 정렬하는 코드*/
  margin: 0px auto;
}

.visual button {
  position: absolute;
  z-index: 10; /*z축 순서*/
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 48px;
}

.visual button:before {
  font-family: "xeicon"; /*아이콘*/
  color: #ffb2b8;
  font-size: 65px;
}

.visual button.slick-prev {
  left: 16px;
  font-size: 0; /*prev글씨없애기*/
  color: transparent; /*글씨색 투명*/
}

.visual button.slick-prev:before {
  content: "\e93d";
}

.visual button.slick-next {
  right: 48px;
  font-size: 0;
  color: transparent;
}

.visual button.slick-next:before {
  content: "\e940";
}

.visual ul.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 17.6px;
  text-align: center;
}

.visual .slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 5px 0 5px;
  list-style-type: none;
  float: left;
}

.visual .slick-dots li button {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0;
}

.visual .slick-dots li.slick-active button {
  background-color: #ffb2b8;
  opacity: 0.8;
}

#container form#newParam {
  height: 1638.8px;
}

#container .banner-section {
  height: 160px;
  width: 140px;
  margin: 0 190px;
}

/*
.main-review-list .star5 {
  letter-spacing: -5px;
  color: #555;
}
*/
